################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/WebProject/v17/.suo
/.vs/WebProject/v17/DocumentLayout.json
